{% extends "base.html.twig" %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<h1>Dashboard</h1>

	<div class="action-buttons">
		<a href="{{ path('app_admin_reservation_index') }}" class="btn btn-edit">Voir les réservations</a>

        {# TODO: Mettre les rentals #}
		{# <a href="{{ path('app_admin_reservation_index') }}" class="btn btn-edit">Voir les locations</a> #}



	</div>
{% endblock %}