{% extends 'base.html.twig' %}

{% block title %}Édition User{% endblock %}

{% block body %}
<h1>Éditer un compte utilisateur</h1>


    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}


    <div class="action-buttons">
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-back">

            <i class="fas fa-arrow-left"></i>
            Retour à la liste</a>
    </div>

{% endblock %}
