{# Seasons + price #}
        <p>Prix actuel :</p>
        {% if rental.isActive == true %}
            
            {# Vérifier si une saison correspond à la date actuelle #}
            {% set priceFound = false %}
            {% for season in rental.seasons %}
                {% if season.season_start is defined and season.season_end is defined %}
                    {% if date('now') >= season.season_start and date('now') <= season.season_end %}
                        {% if season.pricePerNight is not null %}
                            <p>{{ season.pricePerNight }} €/nuit</p>
                            {% set priceFound = true %}
                        {% endif %}
                    {% endif %}
                {% elseif season.seasonStart is defined and season.seasonEnd is defined %}
                    {% if date('now') >= season.seasonStart and date('now') <= season.seasonEnd %}
                        {% if season.pricePerNight is not null %}
                            <p>{{ season.pricePerNight }} €/nuit</p>
                            {% set priceFound = true %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not priceFound %}
            <p>Aucun prix n'a été renseigné pour l'instant, pour cette période, pour plus d'informations, veuillez nous contacter.</p>
            {% endif %}
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <p>Le prix n'est pas disponible pour le moment car l'annonce est désactivé</p>
            {% else %}
                <p>Cette location n'est pas disponible pour le moment.</p>
            {% endif %}
        {% endif %}
        
        {# Si admin, afficher le bouton réserver renvoyant vers sa page concernant ce bien là. #}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin_reservation_new', {'id': rental.id}) }}" class="btn btn-primary">Créer une réservation pour ce bien</a>
        {# Sinon, afficher le bouton réserver renvoyant vers la page reservation pour ROLE_USER SI isActive=true #}
        {% else %}
            {% if rental.isActive == 1 %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_client_reservation_new', {'id': rental.id}) }}" class="btn btn-primary">Créer une réservation pour ce bien</a>
                {% endif %}
            {% endif %}
        {% endif %}